---
http_interactions:
- request:
    method: post
    uri: https://api.trakt.tv/oauth/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"refresh_token","client_id":"TRAKT_OAUTH_KEY","client_secret":"TRAKT_OAUTH_SECRET","redirect_uri":"","refresh_token":"TRAKT_TEST_USER_REFRESH_TOKEN"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"69fd59614a31abaafdb9b0d8b204de32"
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"some_new_token","token_type":"Bearer","expires_in":7776000,"refresh_token":"some_new_refresh_token","scope":"public","created_at":1563644578}'
  recorded_at: Sat, 20 Jul 2019 17:45:18 GMT
- request:
    method: get
    uri: https://api.trakt.tv/users/me/history?end_at=2019-02-15T00:00:00Z&page=0&start_at=2019-02-01T00:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Trakt-Api-Key:
      - TRAKT_OAUTH_KEY
      Trakt-Api-Version:
      - '2'
      Authorization:
      - Bearer some_new_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"03a7279627bb706aac0655aa108f8e2c"
      Last-Modified:
      - Fri, 19 Jul 2019 15:59:27 GMT
      X-Pagination-Item-Count:
      - '17'
      X-Pagination-Limit:
      - '10'
      X-Pagination-Page:
      - '1'
      X-Pagination-Page-Count:
      - '2'
      X-Private-User:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":4230613006,"watched_at":"2019-02-11T04:45:05.000Z","action":"watch","type":"episode","episode":{"season":3,"number":11,"title":"Chidi
        Sees the Time-Knife","ids":{"trakt":3113039,"tvdb":6786373,"imdb":"tt8601216","tmdb":1664109,"tvrage":0}},"show":{"title":"The
        Good Place","year":2016,"ids":{"trakt":107700,"slug":"the-good-place","tvdb":311711,"imdb":"tt4955642","tmdb":66573,"tvrage":null}}},{"id":4230613005,"watched_at":"2019-02-11T04:07:37.000Z","action":"watch","type":"episode","episode":{"season":9,"number":10,"title":"Los
        Diablos!","ids":{"trakt":3197881,"tvdb":6972837,"imdb":"tt8245476","tmdb":1677260,"tvrage":0}},"show":{"title":"Shameless","year":2011,"ids":{"trakt":34160,"slug":"shameless-2011","tvdb":161511,"imdb":"tt1586680","tmdb":34307,"tvrage":25117}}},{"id":4228022667,"watched_at":[...]
[...]
