- content_for :title, 'Services'

.row.border-bottom.pb-2
  %h2 Services

.row.border-bottom.py-4
  - Devise.omniauth_providers.each do |provider|
    = omniauth_button(provider)

.row.py-4
  %table.table.table-sm.table-hover
    %thead
      %tr
        %th{ scope: 'col' } Provider
        %th{ scope: 'col' } Name
        %th{ scope: 'col' } Actions
    %tbody
      - @services.each do |service|
        %tr
          %th{ scope: 'row' }= omniauth_provider_name(service.provider)
          %td= service.name
          %td
            = link_to 'Delete', service, method: :delete, class: 'btn btn-sm btn-danger py-0'
