---
http_interactions:
- request:
    method: get
    uri: https://wbsapi.withings.net/measure?action=getmeas&category=1&enddate=1562045224&meastype=9&startdate=1561958824
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer WITHINGS_TEST_USER_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":0,"body":{"updatetime":1562306215,"timezone":"US\/Pacific","measuregrps":[]}}'
  recorded_at: Fri, 05 Jul 2019 05:56:55 GMT
[...]
- request:
    method: get
    uri: https://wbsapi.withings.net/measure?action=getmeas&category=1&enddate=1562045224&meastype=1&startdate=1561958824
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer WITHINGS_TEST_USER_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":0,"body":{"updatetime":1562306219,"timezone":"US\/Pacific","measuregrps":[{"grpid":1504299343,"attrib":2,"date":1561996740,"created":1561996744,"category":1,"deviceid":null,"measures":[{"value":62777,"type":1,"unit":-3,"algo":0,"fw":0,"fm":3}],"comment":null}]}}'
  recorded_at: Fri, 05 Jul 2019 05:56:59 GMT
- request:
    method: get
    uri: https://wbsapi.withings.net/v2/measure?action=getintradayactivity&data_fields=calories,elevation,heart_rate,steps&enddate=1562045224&startdate=1561958824
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer WITHINGS_TEST_USER_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":0,"body":{"series":{"1561963080":{"steps":16,"elevation":0,"calories":0.454},"1561998420":{"steps":98,"elevation":0,"calories":2.772},"1561998480":{"steps":108,"elevation":0,"calories":3.055},"1561998540":{"steps":108,"elevation":0,"calories":3.055},"1561998600":{"steps":108,"elevation":0,"calories":3.055},"1561998660":{"steps":108,"elevation":0,"calories":3.055},"1561998720":{"steps":109,"elevation":0,"calories":3.083},"1561998780":{"steps":109,"elevation":0,"calories":3.083},"1561998840":{"steps":109,"elevation":0,"calories":3.083},"1561998900":{"steps":109,"ele[...]
- request:
    method: get
    uri: https://wbsapi.withings.net/v2/sleep?action=get&data_fields=hr,rr&enddate=1562045224&startdate=1561958824
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer WITHINGS_TEST_USER_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":0,"body":{"series":[{"startdate":1561958880,"state":0,"enddate":1561959000,"hr":{"1561958880":72,"1561958940":71},"rr":{"1561958880":13,"1561958940":10}},{"startdate":1561959480,"state":0,"enddate":1561959540,"hr":{"1561959480":74},"rr":{"1561959480":14}},{"startdate":1561966740,"state":0,"enddate":1561967100,"hr":{"1561966740":72,"1561966800":73,"1561966860":67,"1561966920":68,"1561966980":66,"1561967040":67},"rr":{"1561966740":17,"1561966800":17,"1561966860":17,"1561966920":16,"1561966980":13,"1561967040":13}},{"startdate":1561967100,"state":1,"enddate":1561967340,"hr":{"1561967100":66,"1561967160":66,"1561967[...]
- request:
    method: get
    uri: https://wbsapi.withings.net/v2/measure?action=getworkouts&data_fields=calories,distance,effduration,elevation,hr_average,hr_max,hr_min,hr_zone_0,hr_zone_1,hr_zone_2,hr_zone_3,intensity,pool_laps,pool_length,steps,strokes&enddateymd=2019-07-02&startdateymd=2019-07-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer WITHINGS_TEST_USER_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":0,"body":{"series":[{"id":1105265951,"category":1,"timezone":"US\/Pacific","model":1057,"attrib":0,"startdate":1561998420,"enddate":1561999320,"date":"2019-07-01","deviceid":null,"data":{"calories":40.394409179688,"effduration":900,"intensity":0,"steps":1428,"distance":1155.2296142578},"modified":1562040990},{"id":1105265956,"category":1,"timezone":"US\/Pacific","model":1057,"attrib":0,"startdate":1561999680,"enddate":1562000340,"date":"2019-07-01","deviceid":null,"data":{"calories":23.223957061768,"effduration":600,"intensity":0,"steps":821,"distance":664.17620849609},"modified":1562094274},{"id":1105265962,"category":1,"timezone":"US\/Pacific","model":1057,"attrib":0,"startdate":1562001180,"enddate":1562002260,"date":"2019-07-01","deviceid":null,"data":{"calories":44.552654266357,"effd[...]
