---
http_interactions:
- request:
    method: get
    uri: https://wbsapi.withings.net/v2/measure?action=getworkouts&data_fields=calories,distance,effduration,elevation,hr_average,hr_max,hr_min,hr_zone_0,hr_zone_1,hr_zone_2,hr_zone_3,intensity,pool_laps,pool_length,steps,strokes&enddateymd=2019-07-03&startdateymd=2019-06-26
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer WITHINGS_TEST_USER_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":0,"body":{"series":[{"id":1100287921,"category":1,"timezone":"US\/Pacific","model":1057,"attrib":0,"startdate":1561568700,"enddate":1561569840,"date":"2019-06-26","deviceid":null,"data":{"calories":44.854545593262,"effduration":1140,"intensity":0,"steps":1578,"distance":1276.5773925781},"modified":1561688957},{"id":1101252040,"category":1,"timezone":"US\/Pacific","model":1057,"attrib":0,"startdate":1561655580,"enddate":1561656720,"date":"2019-06-27","deviceid":null,"data":{"calories":44.342876434326,"effduration":1140,"intensity":0,"steps":1560,"distance":1262.0157470703},"modified":1561745838},{"id":1101484241,"category":1,"timezone":"US\/Pacific","model":1057,"attrib":0,"startdate":1561685400,"enddate":1561686900,"date":"2019-06-27","deviceid":null,"data":{"calories":50.312133789062,"ef[...]
