---
http_interactions:
- request:
    method: post
    uri: https://account.withings.com/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=WITHINGS_OAUTH_KEY&client_secret=WITHINGS_OAUTH_SECRET&grant_type=refresh_token&refresh_token=WITHINGS_TEST_USER_REFRESH_TOKEN
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"a_new_token","expires_in":"10800","token_type":"Bearer","scope":"user.activity,user.metrics,user.info","refresh_token":"WITHINGS_TEST_USER_REFRESH_TOKEN","userid":WITHINGS_TEST_USER_ID}'
  recorded_at: Sat, 29 Jun 2019 20:02:24 GMT
recorded_with: VCR 5.0.0
