<div class="row">
  <div class="col mb-2">
    <div
      data-controller="mapbox"
      data-mapbox-scrobbles-path="<%= location_scrobble_url(scrobble, format: :geojson) %>"
    >
      <div data-target="mapbox.map"></div>
    </div>
  </div>
</div>

<% if scrobble.place? %>
  <%= render 'place_edit', scrobble: scrobble %>
<% elsif scrobble.transit? %>
  <%= render 'transit_edit', scrobble: scrobble %>
<% end %>
