<%= render 'place_header', scrobble: @location_scrobble %>

<div class="row mb-4">
  <div class="col">
    <%= render 'descriptor', scrobble: scrobble %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= render 'place_form', scrobble: scrobble %>
  </div>
</div>
