- content_for :title, 'Locations'

.row.border-bottom.pb-2
  %h2 Locations

.row.py-4
  = link_to 'Import', new_location_import_path, class: 'btn btn-primary'

.row.pb-4
  %ul
    - @location_scrobbles.each do |location_scrobble|
      %li
        = location_scrobble.name
        = link_to 'Edit', edit_location_scrobble_path(location_scrobble)

