---
http_interactions:
- request:
    method: get
    uri: https://wbsapi.withings.net/v2/sleep?action=get&data_fields=hr,rr&enddate=1561754445&startdate=1561668045
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer WITHINGS_TEST_USER_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":0,"body":{"series":[{"startdate":1561690320,"state":0,"enddate":1561690440,"hr":{"1561690320":77,"1561690380":77},"rr":{"1561690320":16,"1561690380":13}},{"startdate":1561690920,"state":0,"enddate":1561690980,"hr":{"1561690920":74},"rr":{"1561690920":19}},{"startdate":1561698060,"state":0,"enddate":1561698660,"hr":{"1561698060":72,"1561698120":71,"1561698180":69,"1561698240":69,"1561698300":70,"1561698360":69,"1561698420":68,"1561698480":66,"1561698540":67,"1561698600":69},"rr":{"1561698060":10,"1561698120":10,"1561698180":15,"1561698240":18,"1561698300":13,"1561698360":17,"1561698420":16,"1561698480":16,"156169[...]
