.choices {
  display: block;
  width: 100%;
}

.is-open .choices__list--dropdown {
  margin-top: 3px;

  border: 1px solid #ced4da;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
