---
http_interactions:
- request:
    method: post
    uri: https://api.todoist.com/sync/v8/completed/get_all
    body:
      encoding: US-ASCII
      string: token=TODOIST_TEST_USER_TOKEN&since=2019-07-18T00%3A00&until=2019-07-19T00%3A00&limit=50&offset=0
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"content":"https://touchofmodern.atlassian.net/browse/ENG-760
        ([ENG-760]) PDF attachment issues due to ImageMagick security vulnerabilities
        patch @jira_tickets","legacy_project_id":179984353,"meta_data":null,"user_id":9036325,"task_id":3287137893,"project_id":2059032545,"completed_date":"2019-07-18T23:44:32Z","id":3287137893},{"content":"https://touchofmodern.atlassian.net/browse/ENG-1266
        ([ENG-1266]) Admin load-balanced via ECS @jira_tickets","meta_data":null,"user_id":9036325,"task_id":3226172004,"project_id":2205011866,"completed_date":"2019-07-18T18:44:40Z","id":3226172004},{"content":"https://touchofmodern.atlassian.net/browse/ENG-1505
        ([ENG-1505]) Conditionally set ECS services to serve assets via cdn-s3 @jira_tickets","legacy_project_id":179984353,"meta_data":null,"user_id":9036325,"task_id":3300166828,"project_id":2059032545,"completed_date":"2019-07-18T18:44:38Z","id":3300166828},{"content":"Spray
        the plants","meta_data":null,"user_id":9036325,"task_id":2932557544,"project_id":2183987461,"completed_date":"2019-07-18T05:11:20Z","id":2932557544}],"projects":{"2059032545":{"name":"Work","is_favorite":0,"color":40,"is_deleted":0,"collapsed":0,"parent_id":null,"child_order":6,"is_archived":0,"id":2059032545,"legacy_id":179984353},"2205011866":{"name":"JIRA
        Inbox","is_favorite":0,"legacy_parent_id":179984353,"color":40,"is_deleted":0,"collapsed":0,"parent_id":2059032545,"child_order":1,"is_archived":0,"id":2205011866},"2183987461":{"name":"Future","is_favorite":0,"color":33,"is_deleted":0,"collapsed":0,"parent_id":null,"child_order":7,"is_archived":0,"id":2183987461}}}'
  recorded_at: Mon, 30 Sep 2019 21:25:02 GMT
- request:
    method: post
    uri: https://api.todoist.com/sync/v8/completed/get_all
    body:
      encoding: US-ASCII
      string: token=TODOIST_TEST_USER_TOKEN&since=2019-07-18T00%3A00&until=2019-07-19T00%3A00&limit=50&offset=50
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[],"projects":{}}'
  recorded_at: Mon, 30 Sep 2019 21:25:02 GMT
recorded_with: VCR 5.0.0
