---
http_interactions:
- request:
    method: post
    uri: https://todoist.com/API/v7/completed/get_all
    body:
      encoding: US-ASCII
      string: token=TODOIST_TEST_USER_TOKEN&since=2019-07-18T00%3A00&until=2019-07-19T00%3A00&limit=50&offset=0
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Warning:
      - 119 - "Deprecated API version. Will be removed on 2019-08-30"
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"content":"https:\/\/touchofmodern.atlassian.net\/browse\/ENG-760
        ([ENG-760]) PDF attachment issues due to ImageMagick security vulnerabilities
        patch @jira_tickets","meta_data":null,"user_id":9036325,"task_id":3287137893,"project_id":179984353,"completed_date":"Thu
        18 Jul 2019 23:44:32 +0000","id":3287137893},{"content":"https:\/\/touchofmodern.atlassian.net\/browse\/ENG-1266
        ([ENG-1266]) Admin load-balanced via ECS @jira_tickets","meta_data":null,"user_id":9036325,"task_id":3226172004,"project_id":2205011866,"completed_date":"Thu
        18 Jul 2019 18:44:40 +0000","id":3226172004},{"content":"https:\/\/touchofmodern.atlassian.net\/browse\/ENG-1505
        ([ENG-1505]) Conditionally set ECS services to serve assets via cdn-s3 @jira_tickets","meta_data":null,"user_id":9036325,"task_id":3300166828,"project_id":179984353,"completed_date":"Thu
        18 Jul 2019 18:44:38 +0000","id":3300166828},{"content":"Spray the plants","meta_data":null,"user_id":9036325,"task_id":2932557544,"project_id":2183987461,"completed_date":"Thu
        18 Jul 2019 05:11:20 +0000","id":2932557544}],"projects":{"179984353":{"indent":1,"name":"Work","is_favorite":0,"color":4,"is_deleted":0,"collapsed":0,"parent_id":null,"item_order":17,"is_archived":0,"id":179984353},"2205011866":{"indent":2,"name":"JIRA
        Inbox","is_favorite":0,"color":4,"is_deleted":0,"collapsed":0,"parent_id":179984353,"item_order":18,"is_archived":0,"id":2205011866},"2183987461":{"indent":1,"name":"Future","is_favorite":0,"color":3,"is_deleted":0,"collapsed":0,"parent_id":null,"item_order":35,"is_archived":0,"id":2183987461}}}'
  recorded_at: Tue, 23 Jul 2019 05:12:47 GMT
[...]
- request:
    method: post
    uri: https://todoist.com/API/v7/items/get
    body:
      encoding: US-ASCII
      string: token=TODOIST_TEST_USER_TOKEN&item_id=3287137893&all_data=true
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Warning:
      - 119 - "Deprecated API version. Will be removed on 2019-08-30"
    body:
      encoding: UTF-8
      string: '{"project":{"indent":1,"name":"Work","is_favorite":0,"color":4,"is_deleted":0,"collapsed":0,"parent_id":null,"item_order":17,"is_archived":0,"shared":false,"id":179984353},"item":{"is_deleted":0,"assigned_by_uid":9036325,"is_archived":0,"labels":[2150056338],"sync_id":null,"all_day":false,"in_history":1,"indent":1,"date_added":"Tue
        09 Jul 2019 18:54:48 +0000","date_lang":null,"id":3287137893,"content":"https:\/\/touchofmodern.atlassian.net\/browse\/ENG-760
        ([ENG-760]) PDF attachment issues due to ImageMagick security vulnerabilities
        patch","checked":1,"user_id":9036325,"due_date_utc":null,"priority":1,"parent_id":null,"item_order":449,"responsible_uid":null,"project_id":179984353,"date_completed":"Thu
        18 Jul 2019 23:44:32 +0000","collapsed":0,"date_string":null},"notes":[]}'
  recorded_at: Tue, 23 Jul 2019 05:12:48 GMT
- request:
    method: post
    uri: https://todoist.com/API/v7/sync
    body:
      encoding: US-ASCII
      string: token=TODOIST_TEST_USER_TOKEN&commands=%5B%5D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Warning:
      - 119 - "Deprecated API version. Will be removed on 2019-08-30"
    body:
      encoding: UTF-8
      string: '{"sync_token":"RKw_ObUmpC0V_F8z8uDAOFNBqWRL6YwVOA3O4eHs4vtakPWukoXjA762mrTPIh52KeirHJEmx4wmP0TEA1Pr-R2BGb1q-JeutiWgVyYS9Rdc9zY","temp_id_mapping":{},"full_sync":true}'
  recorded_at: Tue, 23 Jul 2019 05:12:48 GMT
[...]
- request:
    method: post
    uri: https://todoist.com/API/v7/items/get
    body:
      encoding: US-ASCII
      string: token=TODOIST_TEST_USER_TOKEN&item_id=2932557544&all_data=true
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Warning:
      - 119 - "Deprecated API version. Will be removed on 2019-08-30"
    body:
      encoding: UTF-8
      string: '{"project":{"indent":1,"name":"Future","is_favorite":0,"color":3,"is_deleted":0,"collapsed":0,"parent_id":null,"item_order":35,"is_archived":0,"shared":false,"id":2183987461},"item":{"is_deleted":0,"assigned_by_uid":9036325,"is_archived":0,"labels":[2152895999],"sync_id":null,"all_day":true,"in_history":0,"indent":1,"date_added":"Sun
        02 Dec 2018 19:04:54 +0000","date_lang":"en","id":2932557544,"content":"Spray
        the plants","checked":0,"user_id":9036325,"due_date_utc":"Wed 24 Jul 2019
        06:59:59 +0000","priority":1,"parent_id":null,"item_order":2,"responsible_uid":null,"project_id":2183987461,"date_completed":null,"collapsed":0,"date_string":"every
        3 days"},"notes":[]}'
  recorded_at: Tue, 23 Jul 2019 05:12:48 GMT
recorded_with: VCR 5.0.0
