---
http_interactions:
- request:
    method: post
    uri: https://api.todoist.com/sync/v8/completed/get_all
    body:
      encoding: US-ASCII
      string: token=TODOIST_TEST_USER_TOKEN&since=2019-07-18T00%3A00&until=2019-07-19T00%3A00&limit=50&offset=0
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"content":"https://touchofmodern.atlassian.net/browse/ENG-760
        ([ENG-760]) PDF attachment issues due to ImageMagick security vulnerabilities
        patch @jira_tickets","legacy_project_id":179984353,"meta_data":null,"user_id":9036325,"task_id":3287137893,"project_id":2059032545,"completed_date":"2019-07-18T23:44:32Z","id":3287137893},{"content":"https://touchofmodern.atlassian.net/browse/ENG-1266
        ([ENG-1266]) Admin load-balanced via ECS @jira_tickets","meta_data":null,"user_id":9036325,"task_id":3226172004,"project_id":2205011866,"completed_date":"2019-07-18T18:44:40Z","id":3226172004},{"content":"https://touchofmodern.atlassian.net/browse/ENG-1505
        ([ENG-1505]) Conditionally set ECS services to serve assets via cdn-s3 @jira_tickets","legacy_project_id":179984353,"meta_data":null,"user_id":9036325,"task_id":3300166828,"project_id":2059032545,"completed_date":"2019-07-18T18:44:38Z","id":3300166828},{"content":"Spray
        the plants","meta_data":null,"user_id":9036325,"task_id":2932557544,"project_id":2183987461,"completed_date":"2019-07-18T05:11:20Z","id":2932557544}],"projects":{"2059032545":{"name":"Work","is_favorite":0,"color":40,"is_deleted":0,"collapsed":0,"parent_id":null,"child_order":6,"is_archived":0,"id":2059032545,"legacy_id":179984353},"2205011866":{"name":"JIRA
        Inbox","is_favorite":0,"legacy_parent_id":179984353,"color":40,"is_deleted":0,"collapsed":0,"parent_id":2059032545,"child_order":1,"is_archived":0,"id":2205011866},"2183987461":{"name":"Future","is_favorite":0,"color":33,"is_deleted":0,"collapsed":0,"parent_id":null,"child_order":7,"is_archived":0,"id":2183987461}}}'
  recorded_at: Mon, 30 Sep 2019 21:25:03 GMT
[...]
- request:
    method: post
    uri: https://api.todoist.com/sync/v8/items/get
    body:
      encoding: US-ASCII
      string: token=TODOIST_TEST_USER_TOKEN&item_id=3287137893&all_data=true
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"project":{"name":"Work","is_favorite":0,"color":40,"is_deleted":0,"collapsed":0,"parent_id":null,"child_order":6,"is_archived":0,"shared":false,"id":2059032545,"legacy_id":179984353},"item":{"legacy_project_id":179984353,"is_deleted":0,"assigned_by_uid":9036325,"labels":[2150056338],"sync_id":null,"section_id":null,"in_history":1,"child_order":8,"date_added":"2019-07-09T18:54:48Z","id":3287137893,"content":"https://touchofmodern.atlassian.net/browse/ENG-760
        ([ENG-760]) PDF attachment issues due to ImageMagick security vulnerabilities
        patch","checked":1,"user_id":9036325,"due":null,"priority":1,"parent_id":null,"responsible_uid":null,"project_id":2059032545,"date_completed":"2019-07-18T23:44:32Z","collapsed":0},"notes":[]}'
  recorded_at: Mon, 30 Sep 2019 21:25:03 GMT
- request:
    method: post
    uri: https://api.todoist.com/sync/v8/sync
    body:
      encoding: US-ASCII
      string: token=TODOIST_TEST_USER_TOKEN&commands=%5B%5D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"sync_token":"C2klKAm9wiu-RV1lveOfdtoIs5SOklswOrogbgNeYlXyb1URGn6RiTlP31K1UNURm4Ky35h-woczMXDv0RcqMlAWAt4iJcWmubmEwbvfUPjEz0U","temp_id_mapping":{},"full_sync":true}'
  recorded_at: Mon, 30 Sep 2019 21:25:03 GMT
- request:
    method: post
    uri: https://api.todoist.com/sync/v8/sync
    body:
      encoding: US-ASCII
      string: token=TODOIST_TEST_USER_TOKEN&sync_token=%7B%22projects%22%3D%3E%22*%22%2C+%22labels%22%3D%3E%22*%22%2C+%22items%22%3D%3E%22*%22%2C+%22notes%22%3D%3E%22*%22%2C+%22reminders%22%3D%3E%22*%22%2C+%22filters%22%3D%3E%22*%22%7D&resource_types=%5B%22labels%22%5D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"sync_token":"C2klKAm9wiu-RV1lveOfdtoIs5SOklswOrogbgNeYlXyb1URGn6RiTlP31K1UNURm4Ky35h-woczMXDv0RcqMlAWAt4iJcWmubmEwbvfUPjEz0U","temp_id_mapping":{},"labels":[{"item_order":2,"is_deleted":0,"name":"github_issues","color":30,"is_favorite":0,"id":2150056131},{"item_order":3,"is_deleted":0,"name":"home_maintenance","color":35,"is_favorite":0,"id":2152895999},{"item_order":1,"is_deleted":0,"name":"jira_tickets","color":38,"is_favorite":0,"id":2150056338},{"item_order":7,"is_deleted":0,"name":"job_search","legacy_id":1242157,"color":47,"is_favorite":0,"id":1880290349},{"item_order":4,"is_deleted":0,"name":"online_finance","color":37,"is_favorite":0,"id":2153135689},{"item_order":5,"is_deleted":0,"name":"software_bug","color":31,"is_favorite":0,"id":2152851618},{"item_order":6,"is_deleted":0,"name":"software_improvement","color":31,"is_favorite":0,"id":2152894039}],"full_sync":true}'
  recorded_at: Mon, 30 Sep 2019 21:25:03 GMT
[...]
- request:
    method: post
    uri: https://api.todoist.com/sync/v8/items/get
    body:
      encoding: US-ASCII
      string: token=TODOIST_TEST_USER_TOKEN&item_id=2932557544&all_data=true
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"project":{"name":"Future","is_favorite":0,"color":33,"is_deleted":0,"collapsed":0,"parent_id":null,"child_order":7,"is_archived":0,"shared":false,"id":2183987461},"item":{"is_deleted":0,"assigned_by_uid":9036325,"labels":[2152895999],"sync_id":null,"section_id":null,"in_history":0,"child_order":2,"date_added":"2018-12-02T19:04:54Z","id":2932557544,"content":"Spray
        the plants","checked":0,"user_id":9036325,"due":{"date":"2019-10-03","timezone":null,"is_recurring":true,"string":"every
        3 days","lang":"en"},"priority":1,"parent_id":null,"responsible_uid":null,"project_id":2183987461,"date_completed":null,"collapsed":0},"notes":[]}'
  recorded_at: Mon, 30 Sep 2019 21:25:04 GMT
recorded_with: VCR 5.0.0
