<div class="card border-danger mb-4" v-if="modelErrors.length">
  <div class="card-header bg-danger text-white">
    {{ modelErrors.length }} error{{ modelErrors.length !== 1 ? 's' : '' }} prevented this item from being saved:
  </div>

  <div class="card-body">
    <ul class="mb-0">
      <li v-for="error in modelErrors">{{ error }}</li>
    </ul>
  </div>
</div>
