<div class="card border-danger mb-4" v-if="errors.length">
  <div class="card-header bg-danger text-white">
    {{ errors.length }} error{{ errors.length !== 1 ? 's' : '' }} prevented this item from being saved:
  </div>

  <div class="card-body">
    <ul class="mb-0">
      <li v-for="error in errors">{{ error }}</li>
    </ul>
  </div>
</div>
