---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?include_rts=true&screen_name=tyler_throwaway
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="TWITTER_OAUTH_KEY", oauth_nonce="d9aec1df222df2bb40114032657daaf3",
        oauth_signature="daLDgD34WDszRyWaRf1kwr6YluU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1563734885", oauth_token="TWITTER_TEST_USER_TOKEN", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 21 Jul 2019 18:48:05 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - ecc2835ad1faab56080f207ba18ec834
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '898'
      X-Rate-Limit-Reset:
      - '1563735714'
      X-Response-Time:
      - '54'
      X-Transaction:
      - '00878d31005f5ae9'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Sun Jul 21 17:44:16 +0000 2019","id":1152997734409891840,"id_str":"1152997734409891840","text":"RT
        @timesnewromania: https:\/\/t.co\/M2f4rUi7pT","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"timesnewromania","name":"Ty
        \"Tyler\" ler","id":14897309,"id_str":"14897309","indices":[3,19]}],"urls":[],"media":[{"id":699237920700502016,"id_str":"699237920700502016","indices":[21,44],"media_url":"http:\/\/pbs.twimg.com\/ext_tw_video_thumb\/699237920700502016\/pu\/img\/7KXqOR5_gt0hAw_W.jpg","media_url_https":"https:\/\/pbs.twimg.com\/ext_tw_video_thumb\/699237920700502016\/pu\/img\/7KXqOR5_gt0hAw_W.jpg","url":"https:\/\/t.co\/M2f4rUi7pT","display_url":"pic.twitter.com\/M2f4rUi7pT","expanded_url":"https:\/\/twitter.com\/aastronautss\/status\/699237979076870145\/video\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":675,"resize":"fit"},"small":{"w":680,"h":383,"resize":"fit"},"large":{"w":1280,"h":720,"resize":"fit"}},"source_status_id":699237979076870145,"source_status_id_str":"699237979076870145","source_user_id":14897309,"source_user_id_str":"14897309"}]},"extended_entities":{"media":[{"id":699237920700502016,"id_str":"699237920700502016","indices":[21,44],"media_url":"http:\/\/pbs.twimg.com\/ext_tw_video_thumb\/699237920700502016\/pu\/img\/7KXqOR5_gt0hAw_W.jpg","media_url_https":"https:\/\/pbs.twimg.com\/ext_tw_video_thumb\/699237920700502016\/pu\/img\/7KXqOR5_gt0hAw_W.jpg","url":"https:\/\/t.co\/M2f4rUi7pT","display_url":"pic.twitter.com\/M2f4rUi7pT","expanded_url":"https:\/\/twitter.com\/aastronautss\/status\/699237979076870145\/video\/1","type":"video","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":675,"resize":"fit"},"small":{"w":680,"h":383,"resize":"fit"},"large":{"w":1280,"h":720,"resize":"fit"}},"source_status_id":699237979076870145,"source_status_id_str":"699237979076870145","source_user_id":14897309,"source_user_id_str":"14897309","video_info":{"aspect_ratio":[16,9],"duration_millis":14997,"variants":[{"bitrate":320000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/ext_tw_video\/699237920700502016\/pu\/vid\/320x180\/-MwLKhmLR3xJbLiQ.mp4"},{"content_type":"application\/x-mpegURL","url":"https:\/\/video.twimg.com\/ext_tw_video\/699237920700502016\/pu\/pl\/tmFXwckAQfqi0Ws-.m3u8"},{"bitrate":832000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/ext_tw_video\/699237920700502016\/pu\/vid\/640x360\/dxQNiS-UvK76TLM_.mp4"},{"bitrate":2176000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/ext_tw_video\/699237920700502016\/pu\/vid\/1280x720\/M6vGFg0jnWQZrbDp.mp4"}]},"additional_media_info":{"monetizable":false,"source_user":{"id":14897309,"id_str":"14897309","name":"Ty
        \"Tyler\" ler","screen_name":"timesnewromania","location":"Oakland, CA","description":"I
        don''t know much about it; I just know enough to make a bad joke it","url":"https:\/\/t.co\/2aaw39MDcq","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/2aaw39MDcq","expanded_url":"http:\/\/tylerguillen.com","display_url":"tylerguillen.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":61,"friends_count":309,"listed_count":3,"created_at":"Sun
        May 25 08:08:04 +0000 2008","favourites_count":5840,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":2040,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"262626","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1084690619979595776\/yG4G5-kf_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1084690619979595776\/yG4G5-kf_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14897309\/1357676437","profile_link_color":"808080","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"D4D4D4","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"translator_type":"none"}}}]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3445545312,"id_str":"3445545312","name":"Tyler
        G","screen_name":"tyler_throwaway","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":1,"listed_count":0,"created_at":"Fri
        Sep 04 07:21:48 +0000 2015","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":23,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Mon
        Feb 15 14:25:00 +0000 2016","id":699237979076870145,"id_str":"699237979076870145","text":"https:\/\/t.co\/M2f4rUi7pT","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":699237920700502016,"id_str":"699237920700502016","indices":[0,23],"media_url":"http:\/\/pbs.twimg.com\/ext_tw_video_thumb\/699237920700502016\/pu\/img\/7KXqOR5_gt0hAw_W.jpg","media_url_https":"https:\/\/pbs.twimg.com\/ext_tw_video_thumb\/6992379207005020[...]
