.btn-service {
  position: relative;

  padding-left: 44px;

  @each $tag_name in 'svg:first-child', 'i:first-child::before' {
    #{$tag_name} {
      position: absolute;

      top: 0;
      left: 0;
      bottom: 0;
      width: 36px;
      height: 36px;
      padding: 8px;

      text-align: center;
      line-height: 32px;
      // font-size: 24px;
      border-right: 1px solid rgba(0, 0, 0, .2);
    }
  }

  &.btn-service-foursquare {
    color: #fff;
    background-color: #2d5be3;
  }
}
