---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: user_id=67275002%40N00&min_upload_date=1556694000&max_upload_date=1583049600&page=1&method=flickr.people.getPhotos&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="FLICKR_OAUTH_KEY",
        oauth_nonce="8jfMpV%2F1BL40HSIRu0DhcvvL%2FNzlD2SYqp9WJ399aUg%3D", oauth_signature="FLICKR_OAUTH_SECRET%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1584916543", oauth_token="FLICKR_TEST_USER_TOKEN",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":1,"perpage":100,"total":"27","photo":[{"id":"49532795116","owner":"67275002@N00","secret":"9bcbfa45f6","server":"65535","farm":66,"title":"*","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49462469243","owner":"67275002@N00","secret":"2c2aa14d16","server":"65535","farm":66,"title":"*","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49462467063","owner":"67275002@N00","secret":"db402dbe9b","server":"65535","farm":66,"title":"*","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49269965758","owner":"67275002@N00","secret":"dc9f3c707e","server":"65535","farm":66,"title":"*","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49269916061","owner":"67275002@N00","secret":"e511a1a173",[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: user_id=67275002%40N00&min_upload_date=1556694000&max_upload_date=1583049600&page=2&method=flickr.people.getPhotos&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="FLICKR_OAUTH_KEY",
        oauth_nonce="TIVAr9gr6FMMIOzZtRzaPKgpTdQkGUlbRwEVuQaCDlc%3D", oauth_signature="FLICKR_OAUTH_SECRET%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1584916543", oauth_token="FLICKR_TEST_USER_TOKEN",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":2,"pages":0,"perpage":100,"total":0,"photo":[]},"stat":"ok"}'
  recorded_at: Sun, 22 Mar 2020 22:35:44 GMT
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=49532795116&method=flickr.photos.getInfo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="FLICKR_OAUTH_KEY",
        oauth_nonce="BP7j5q8Nxz14WyWdKE2Dty2Szx%2BSCiwdMnuG5r4dlwk%3D", oauth_signature="FLICKR_OAUTH_SECRET%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1584916544", oauth_token="FLICKR_TEST_USER_TOKEN",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"49532795116","secret":"9bcbfa45f6","server":"65535","farm":66,"dateuploaded":"1581652253","isfavorite":0,"license":"5","safety_level":"0","rotation":0,"originalsecret":"481fca03bf","originalformat":"jpg","owner":{"nsid":"67275002@N00","username":"aastronautss","realname":"Tyler
        Guillen","location":"Oakland, CA, United States","iconserver":"1465","iconfarm":2,"path_alias":"linkie0"},"title":{"_content":"*"},"description":{"_content":""},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1581652253","taken":"2020-01-26
        16:23:02","takengranularity":"0","takenunknown":"0","lastupdate":"1582646728"},"permissions":{"permcomment":3,"permaddmeta":2},"views":"36","editability":{"cancomment":1,"canaddmeta":1},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":1,"canblog":1,"canprint":1,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[]},"location":{"latitude":"37.890386","longitude":"-122.327720","accuracy":"16","context":"0","locality":{"_content":"Albany"},"county":{"_content":"Alameda"},"region":{"_content":"California"},"country":{"_content":"United
        States"},"neighbourhood":{"_content":""}},"geoperms":{"ispublic":0,"iscontact":1,"isfriend":0,"isfamily":0},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/linkie0\/49532795116\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Sun, 22 Mar 2020 22:35:44 GMT
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=49532795116&method=flickr.photos.getFavorites&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="FLICKR_OAUTH_KEY",
        oauth_nonce="Z1%2FAfI3Yda6WYZWLqPj3MqEB1mnEyuMT5Kuv6mfPCRw%3D", oauth_signature="FLICKR_OAUTH_SECRET%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1584916544", oauth_token="FLICKR_TEST_USER_TOKEN",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photo":{"person":[{"nsid":"80322872@N04","username":"Suzies Imaginarium","realname":"Suzie
        Guillen","favedate":"1581718332","iconserver":"7097","iconfarm":8,"contact":0,"friend":0,"family":0}],"id":"49532795116","secret":"9bcbfa45f6","server":"65535","farm":66,"page":1,"pages":1,"perpage":10,"total":"1"},"stat":"ok"}'
  recorded_at: Sun, 22 Mar 2020 22:35:44 GMT
[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: method=flickr.reflection.getMethods&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="FLICKR_OAUTH_KEY",
        oauth_nonce="iJYYVAKNL3lTI1GF5Re8KGLAoVtyVdjIdg6OS5c0hhc%3D", oauth_signature="FLICKR_OAUTH_SECRET%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1584917219", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"methods":{"method":[{"_content":"flickr.activity.userComments"},{"_content":"flickr.activity.userPhotos"},{"_content":"flickr.auth.checkToken"},{"_content":"flickr.auth.getFrob"},{"_content":"flickr.auth.getFullToken"},{"_content":"flickr.auth.getToken"},{"_content":"flickr.auth.oauth.checkToken"},{"_content":"flickr.auth.oauth.getAccessToken"},{"_content":"flickr.blogs.getList"},{"_content":"flickr.blogs.getServices"},{"_content":"flickr.blogs.postPhoto"},{"_content":"flickr.cameras.getBrandModels"},{"_[...]
