---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: user_id=67275002%40N00&min_upload_date=1556694000&max_upload_date=1583049600&page=1&method=flickr.people.getPhotos&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="FLICKR_OAUTH_KEY",
        oauth_nonce="hIm4aPojKh%2FDcNExzvYNqq5pdWhowRzG5I3sKLRUb%2Fs%3D", oauth_signature="FLICKR_OAUTH_SECRET%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1584926488", oauth_token="FLICKR_TEST_USER_TOKEN",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":1,"perpage":100,"total":"27","photo":[{"id":"49532795116","owner":"67275002@N00","secret":"9bcbfa45f6","server":"65535","farm":66,"title":"*","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49462469243","owner":"67275002@N00","secret":"2c2aa14d16","server":"65535","farm":66,"title":"*","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49462467063","owner":"67275002@N00","secret":"db402dbe9b","server":"65535","farm":66,"title":"*","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49269965758","owner":"67275002@N00","secret":"dc9f3c707e","server":"65535","farm":66,"title":"*","ispublic":1,"isfriend":0,"isfamily":0},{"id":"49269916061","owner":"67275002@N00","secret":"e511a1a173",[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: user_id=67275002%40N00&min_upload_date=1556694000&max_upload_date=1583049600&page=2&method=flickr.people.getPhotos&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="FLICKR_OAUTH_KEY",
        oauth_nonce="iG%2FXOCM%2F%2BYT830lff59oCZWXvrBGCzYoLnDPhM%2Fpp%2Bc%3D", oauth_signature="FLICKR_OAUTH_SECRET%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1584926488", oauth_token="FLICKR_TEST_USER_TOKEN",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"stat":"fail","code":105,"message":"Service currently unavailable"}'
  recorded_at: Mon, 23 Mar 2020 01:21:29 GMT
recorded_with: VCR 5.1.0
