---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token GITHUB_TEST_USER_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4941'
      X-Ratelimit-Reset:
      - '1585280693'
      Etag:
      - W/"84f5434158dcb6213a168da09cd535b3"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - GITHUB_OAUTH_KEY
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":250425700,"node_id":"MDEwOlJlcG9zaXRvcnkyNTA0MjU3MDA=","name":"quantitare-test-private","full_name":"aastronautss-dev/quantitare-test-private","private":true,"owner":{"login":"aastronautss-dev","id":GITHUB_TEST_USER_UID,"node_id":"MDQ6VXNlcjYyNTU4MjA2","avatar_url":"https://avatars2.githubusercontent.com/u/GITHUB_TEST_USER_UID?v=4","gravatar_id":"","url":"https://api.github.com/users/aastronautss-dev","html_url":"https://github.com/aastronautss-dev","followers_url":"https://api.github.com/users/aastronautss-dev/followers","following_url":"https://api.github.com/users/aastronautss-dev/following{/other_user}","gists_url":"https://api.github.com/users/aastronautss-dev/gists{/gist_id}","starred_url":"https://api.github.com/users/aastronautss-dev/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/aastronautss-dev/subscriptions","organizations_url":"https://api.github.com/users/aastronautss-dev/orgs","repos_url":"https://api.github.com/users/aastronautss-dev/repos","events_url":"https://api.github.com/users/aastronautss-dev/events{/privacy}","received_events_url":"https://api.github.com/users/aastronautss-dev/received_events","type":"User","site_admin":false},"html_url":"https://github.com/aastronautss-dev/quantitare-test-private","description":null,"fork":false,"url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private","forks_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/forks","keys_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/keys{/key_id}","collaborators_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/teams","hooks_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/hooks","issue_events_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/issues/events{/number}","events_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/events","assignees_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/assignees{/user}","branches_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/branches{/branch}","tags_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/tags","blobs_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/git/refs{/sha}","trees_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/git/trees{/sha}","statuses_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/statuses/{sha}","languages_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/languages","stargazers_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/stargazers","contributors_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/contributors","subscribers_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/subscribers","subscription_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/subscription","commits_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/commits{/sha}","git_commits_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/git/commits{/sha}","comments_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/comments{/number}","issue_comment_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/issues/comments{/number}","contents_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/contents/{+path}","compare_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/compare/{base}...{head}","merges_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/merges","archive_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/downloads","issues_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/issues{/number}","pulls_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/pulls{/number}","milestones_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/milestones{/number}","notifications_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/labels{/name}","releases_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/releases{/id}","deployments_url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/deployments","created_at":"2020-03-27T02:53:32Z","updated_at":"2020-03-27T02:54:18Z","pushed_at":"2020-03-27T02:54:16Z","git_url":"git://github.com/aastronautss-dev/quantitare-test-private.git","ssh_url":"git@github.com:aastronautss-dev/quantitare-test-private.git","clone_url":"https://github.com/aastronautss-dev/quantitare-test-private.git","svn_url":"https://github.com/aastronautss-dev/quantitare-test-private","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":250425392,"node_id":"MDEwOlJlcG9zaXRvcnkyNTA0MjUzOTI=","name":"quantitare-test-public","full_name":"aastronautss-dev/quantitare-test-public","private":false,"owner":{"login":"aastronautss-dev","id":GITHUB_TEST_USER_UID,"node_id":"MDQ6VXNlcjYyNTU4MjA2","avatar_url":"https://avatars2.githubusercontent.com/u/GITHUB_TEST_USER_UID?v=4","gravatar_id":"","url":"https://api.github.com/users/aastronautss-dev","html_url":"https://github.com/aastronautss-dev","followers_url":"https://api.githu[...]
- request:
    method: get
    uri: https://api.github.com/repos/aastronautss-dev/quantitare-test-private/commits?author=aastronautss-dev&per_page=100&since=2020-03-25T00:00:00%2B00:00&until=2020-03-28T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token GITHUB_TEST_USER_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4940'
      X-Ratelimit-Reset:
      - '1585280693'
      Etag:
      - W/"2105e78c38fb4731452ad97008b31e2a"
      Last-Modified:
      - Fri, 27 Mar 2020 02:54:15 GMT
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - GITHUB_OAUTH_KEY
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"13e4d6e8284d13f0cc80288365d96cbaafac0288","node_id":"MDY6Q29tbWl0MjUwNDI1NzAwOjEzZTRkNmU4Mjg0ZDEzZjBjYzgwMjg4MzY1ZDk2Y2JhYWZhYzAyODg=","commit":{"author":{"name":"aastronautss-dev","email":"GITHUB_TEST_USER_UID+aastronautss-dev@users.noreply.github.com","date":"2020-03-27T02:54:15Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2020-03-27T02:54:15Z"},"message":"update","tree":{"sha":"af541c248b727416f47101bbe502ae060bf652ba","url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/git/trees/af541c248b727416f47101bbe502ae060bf652ba"},"url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/git/commits/13e4d6e8284d13f0cc80288365d96cbaafac0288","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJefWrXCRBK7hj4Ov3rIwAAdHIIAGpk3vlHC3HTx2sljkrgfbRD\nrqdjgcom/INbsas/zDdYLtRja/d56xQhEBo4YfGp2tZ4XUmG3LE7ralZkw9JLr4M\n7wW8DRxjQZOG9HYm5C8P7sBdpkY4GR/3I1wWHwOkn1c+Oe2WnYQAPMSjfOjoBwAX\nGjtooUzRu5Ww50iaZlioNdpN+O9rTpXdpcgnBIOv7HTucfbQ235WbvRsxhc8s9zV\n9fWch36+9C7/OM8Cbl86yqgzEjOiFzmmsq+Z/8NbdrRZ3ygFntcIQhVuv1aFA4AQ\nZaal6KEjwY51y76dK4N9ECQVU7gfnQZ/+jgM8lQ2IRnXNo7J5J097ZswsCXwpU0=\n=Pgjk\n-----END
        PGP SIGNATURE-----\n","payload":"tree af541c248b727416f47101bbe502ae060bf652ba\nparent
        4ae0684e0625dfa43376f692ca158959dea9b3b1\nauthor aastronautss-dev <GITHUB_TEST_USER_UID+aastronautss-dev@users.noreply.github.com>
        1585277655 -0700\ncommitter GitHub <noreply@github.com> 1585277655 -0700\n\nupdate"}},"url":"https://api.github.com/repos/aastronautss-dev/quantitare-test-private/commits/13e4d6e8284d13f0cc80288365d96cbaafac0288","html_url":"https://github.com/aastronautss-dev/quantitare-test-private/commit/13e4d6[...]
- request:
    method: get
    uri: https://api.github.com/repos/aastronautss-dev/quantitare-test-private/commits/13e4d6e8284d13f0cc80288365d96cbaafac0288
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token GITHUB_TEST_USER_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/aastronautss-dev/quantitare-test-public/commits?author=aastronautss-dev&per_page=100&since=2020-03-25T00:00:00%2B00:00&until=2020-03-28T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token GITHUB_TEST_USER_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/jso[...]
- request:
    method: get
    uri: https://api.github.com/repos/aastronautss-dev/quantitare-test-public/commits/80d582136b4447a6cb31dbab7f018327552e7730
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token GITHUB_TEST_USER_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-[...]
[...]
