---
http_interactions:
- request:
    method: get
    uri: https://api.trakt.tv/users/me/history?end_at=2019-02-15T00:00:00Z&page=0&start_at=2019-02-01T00:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Trakt-Api-Key:
      - TRAKT_OAUTH_KEY
      Trakt-Api-Version:
      - '2'
      Authorization:
      - Bearer TRAKT_TEST_USER_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c154970709139dd4cb62987e5c69133d"
      Last-Modified:
      - Sun, 21 Jul 2019 05:44:23 GMT
      X-Pagination-Item-Count:
      - '17'
      X-Pagination-Limit:
      - '10'
      X-Pagination-Page:
      - '1'
      X-Pagination-Page-Count:
      - '2'
      X-Private-User:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":4230613006,"watched_at":"2019-02-11T04:45:05.000Z","action":"watch","type":"episode","episode":{"season":3,"number":11,"title":"Chidi
        Sees the Time-Knife","ids":{"trakt":3113039,"tvdb":6786373,"imdb":"tt8601216","tmdb":1664109,"tvrage":0}},"show":{"title":"The
        Good Place","year":2016,"ids":{"trakt":107700,"slug":"the-good-place","tvdb":311711,"imdb":"tt4955642","tmdb":66573,"tvrage":null}}},{"id":4230613005,"watched_at":"2019-02-11T04:07:37.000Z","action":"watch","type":"episode","episode":{"season":9,"number":10,"title":"Los
        Diablos!","ids":{"trakt":3197881,"tvdb":6972837,"imdb":"tt8245476","tmdb":1677260,"tvrage":0}},"show":{"title":"Shameless","year":2011,"ids":{"trakt":34160,"slug":"shameless-2011","tvdb":161511,"imdb":"tt1586680","tmdb":34307,"tvrage":25117}}},{"id":4228022667,"watched_at":[...]
[...]
