<% unless flash.empty? %>
  <% flash.each do |level, content| %>
    <% level = level == 'notice' ? 'primary' : level %>
    <div class="alert alert-<%= level %> alert-dismissable fade show" role="alert">
      <%= content %>

      <button aria-label="Close" class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
<% end %>
