%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container
    = link_to 'Quantitare', root_path, class: 'navbar-brand'
    %button.navbar-toggler{ type: "button", "data-toggle": "collapse", "data-target": "#navbar-nav", "aria-controls": "navbar-nav", "aria-expanded": "false", "aria-label": "Toggle navigation" }
      %span.navbar-toggler-icon
    .collapse.navbar-collapse{ id: 'navbar-nav' }
      - if user_signed_in?
        = render 'layouts/signed_in_nav_items'
      - else
        = render 'layouts/signed_out_nav_items'
