.navbar-nav.mr-auto
.navbar-nav
  = link_to 'Register', new_user_registration_path, class: 'btn btn-outline-light pt-2 btn-sm'
  = link_to 'Login', new_user_session_path, class: 'btn btn-link nav-link btn-sm'
