<div class="navbar-nav mr-auto">
  <%= nav_link 'Scrobblers', scrobblers_path %>
  <%= nav_link 'Locations', locations_path %>
  <%= nav_link 'Services', services_path %>
</div>

<div class="navbar-nav">
  <%= nav_link 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-link nav-link btn-sm' %>
</div>
